@use 'foundation/all' as var;
/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/**
 *
 * FOUNDATIONS................................................
 * BASE.......................................................
 */

/*=============================================
 =                   Foundations               =
 =============================================*/

@use 'foundation/all';

/*==============================================
  =                   Base                      =
  =============================================*/

@use 'base/reset';
@use 'base/root';

body {
    font-family: var.$body-font-family;
    font-size: var.$body-font-size;
    font-weight: var.$body-font-weight;
    line-height: inherit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    width: 100%;
    height: 100%;
}
