@use 'sass:map';
@use '../foundation/all' as *;

.button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    min-width: 70px;

    &--primary {
        color: white;
        background-color: #0097f6;
    }

    &--secondary {
        color: #333;
        background-color: transparent;
        box-shadow: rgba(108, 91, 91, 0.15) 0px 0px 0px 1px inset;
    }

    &--small {
        font-size: 14px;
        padding: 10px 16px;
    }

    &--medium {
        font-size: 16px;
        padding: 11px 20px;
    }

    &--large {
        font-size: 18px;
        padding: 12px 24px;
    }

    &--squared {
        border-radius: 0;
    }

    &--rounded {
        border-radius: 3rem;
    }
}
