.rea-card {
    flex: 1;
    text-align: center;

    &__img {
        width: 7rem;
        object-fit: cover;
    }

    &__title {
        margin: 0.5rem 0;
    }

    &__img,
    &__title,
    &__description {
        font-size: 1.3rem;
        font-family: 'Roboto Condensed', sans-serif;
    }

    &__description {
        font-weight: 200;
    }
}
