name: CI/CD - DEV
on:
    push:
        branches:
            - develop
    pull_request:
        types: [synchronize]
    workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write

# Allow one concurrent deployment
concurrency:
    group: 'pages'
    cancel-in-progress: true

env:
    NODE_VERSION: 18.17.1
    BASE_URL: ${{ secrets.BASE_URL }}

jobs:
    formats-check:
        name: 'Formats Check'
        runs-on: ubuntu-latest

        steps:
            - name: '游닌 checkout repository'
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: '游댢  Setup NodeJS ${{ env.NODE_VERSION }}'
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            # - name: '游댢 Install dependencies'
            #   run: yarn install

            # - name: 'Format Check'
            #   run: yarn run formats:check

    test:
        name: 'Automated Tests'
        runs-on: ubuntu-latest

        steps:
            - name: '游닌 checkout repository'
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: '游댌  Verify Changed Files [shared, backend, database, frontend]'
              uses: tj-actions/changed-files@v35
              id: changed-test-files
              with:
                  files: |
                      shared/**/*
                      backend/**/*
                      database/**/*
                      frontend/**/*

            - name: List all changed files
              run: |
                  for file in ${{ steps.changed-test-files.outputs.all_changed_files }}; do
                    echo "$file was changed"
                  done

            - name: '游댢  Setup NodeJS ${{ env.NODE_VERSION }}'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: '游댢 Install dependencies'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn install

            - name: 'Run Tests'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn run test

            - name: 'Package ./coverage'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn run package

            - name: 'Upload coverage artifact'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/upload-artifact@v3
              with:
                  name: coverage-${{ github.run_number }}-${{ github.run_id }}
                  path: './package/coverage/'

    vrt-chromatic:
        name: 'Visual Regression Testing w. Chromatic'
        runs-on: ubuntu-latest
        needs: [test, formats-check]
        steps:
            - name: '游닌 checkout repository'
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - name: '游댌  Verify Changed Files [shared, frontend]'
              uses: tj-actions/changed-files@v35
              id: changed-test-files
              with:
                  files: |
                      shared/**/*
                      frontend/**/*

            - name: '游댢  Setup NodeJS ${{ env.NODE_VERSION }}'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: '游댢 Install dependencies'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn install

            - name: '游깯 Run VRT w. Chromatic'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              env:
                  CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
              run: yarn test:chromatic

            - name: 'Package ./storybook'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn run package

            - name: 'Upload apps artifact'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/upload-artifact@v3
              with:
                  name: storybook-${{ github.run_number }}-${{ github.run_id }}
                  path: './package/storybook/'

    build-n-package:
        name: 'Build & Package'
        runs-on: ubuntu-latest
        needs: [vrt-chromatic]
        steps:
            - name: '游닌 checkout repository'
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: '游댌  Verify Changed Files [shared, backend, database, frontend, assets]'
              uses: tj-actions/changed-files@v35
              id: changed-test-files
              with:
                  files: |
                      shared/**/*
                      frontend/**/*
                      assets/**/*
                      backend/**/*
                      database/**/*

            - name: '游댢  Setup NodeJS ${{ env.NODE_VERSION }}'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: '游댢 Install dependencies'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn install

            - name: 'Run Build'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn run build:prod

            - name: 'Package ./apps'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: yarn run package

            - name: 'Upload apps artifact'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/upload-artifact@v3
              with:
                  name: apps-${{ github.run_number }}-${{ github.run_id }}
                  path: './package/apps/'

    deploy-preview-gh-pages:
        name: 'Deploy Preview to GitHub Pages PREVIEW env.'
        runs-on: ubuntu-latest
        needs: [vrt-chromatic, build-n-package]
        steps:
            - name: '游닌 checkout repository'
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: '游댌  Verify Changed Files [shared, backend, database, frontend, assets]'
              uses: tj-actions/changed-files@v35
              id: changed-test-files
              with:
                  files: |
                      shared/**/*
                      frontend/**/*
                      assets/**/*
                      backend/**/*
                      database/**/*

            - name: 'Create package/dist'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: mkdir -p package/apps

            - uses: actions/download-artifact@v3
              if: steps.changed-test-files.outputs.any_changed == 'true'
              with:
                  name: apps-${{ github.run_number }}-${{ github.run_id }}
                  path: package/apps

            - name: '游댢 Setup Pages'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/configure-pages@v3

            - name: Upload artifact
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: actions/upload-pages-artifact@v2
              with:
                  # Upload entire repository
                  path: './package/apps'

            - name: '游 Deploy to GitHub Pages'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              id: deployment
              uses: actions/deploy-pages@v2

    deploy-storybook-preview-netlify:
        name: 'Deploy Storybook to Netlify PREVIEW env.'
        runs-on: ubuntu-latest
        needs: [vrt-chromatic]
        steps:
            - name: '游닌 checkout repository'
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: '游댌  Verify Changed Files [shared, backend, database, frontend, assets]'
              uses: tj-actions/changed-files@v35
              id: changed-test-files
              with:
                  files: |
                      shared/**/*
                      frontend/**/*
                      assets/**/*
                      backend/**/*
                      database/**/*

            - name: 'Create package/storybook'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              run: mkdir -p package/storybook

            - uses: actions/download-artifact@v3
              if: steps.changed-test-files.outputs.any_changed == 'true'
              with:
                  name: storybook-${{ github.run_number }}-${{ github.run_id }}
                  path: package/storybook

            - name: '游 Deploy to Netlify'
              if: steps.changed-test-files.outputs.any_changed == 'true'
              uses: nwtgck/actions-netlify@v2.0
              with:
                publish-dir: './package/storybook'
              env:
                NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
              timeout-minutes: 1
